body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 0%;
}

p {
    text-align: justify;
}

.orange {
    color: orange;
}

.flexible-container {
    display: flex;

}

.half-width {
    width: 50%;
    padding: 5%;

}

.link-button {
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}

.half-width img {
    width: 75%;
    height: 75%;

}

.top-banner {
    background-image: url(images/developer.png);
    background-repeat: no-repeat;

    background-size: 5% 50%;
}

.another {
    background-image: url(images/developer.png);
    background-repeat: no-repeat;
    background-position: right;

    background-size: 5% 50%
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;


}

#full {
    border-left: 7px solid;
    border-image: linear-gradient(red, rgb(255, 0, 204));
    border-image-slice: 1;
}

#baby {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}